
api/src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/quotr.iml
.idea/vcs.xml
.idea/workspace.xml
api/src/quotes.json
api/src/quotes_full.json